<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Record Registration</h1>
</div>

<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-record-form></app-record-form>

        </div>
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Sensor Identifier</th>
                        <th>Timestamp</th>
                        <th>Energy Consumption</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of service.list">
                        <td (click)="populateForm(r)">{{r.sensorId}}</td>
                        <td (click)="populateForm(r)">{{r.timestamp}}</td>
                        <td (click)="populateForm(r)">{{r.energyConsumption}}</td>
                        <td>
                            <i class="far fa-trash-alt fa-lg text-danger" (click)= "onDelete(r.recordId)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>